.place__image {
    grid-area: image;
    width: 100%;
    background-position: center;
    max-width: 460px;
    object-fit: fill;
    object-position: center;
}


@media screen and (max-width: 1024px) {
    .place__image {
        max-width: 440px;

    }
}

@media screen and (max-width: 768px) {
    .place__image {
       max-width: 340px;
    }
}

@media screen and (max-width: 450px) {
    .place__image {
        min-width: 100%;
    }
}

