@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_Web/Inter-Black.woff'),
    url('../fonts/Inter_Web/Inter-Black.woff2');
    font-style: normal;
    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_Web/Inter-Regular.woff'),
    url('../fonts/Inter_Web/Inter-Regular.woff2');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_Web/Inter-Bold.woff'),
    url('../fonts/Inter_Web/Inter-Bold.woff2');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}