.lead__caption {
    margin: 0;
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    min-width: 158px;
    height: 14px;
    align-self: flex-start;
}