.cover__title {
    margin: 245px auto 32px;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: white;
    max-width: 560px;
    text-decoration: none;
    text-align: center;
    z-index: 1;
}

@media screen and (max-width: 1024px) {
    .cover__title {
        margin-top: 195px;
    }

}

@media screen and (max-width: 768px) {
    .cover__title {
        margin-top: 100px;
    }

}

@media screen and (max-width: 570px) {
    .cover__title {
        margin-top: 40px;
        margin-bottom: 16px;
        font-size: 40px;
        line-height: 44px
    }
}

@media screen and (max-width: 320px) {
    .cover__title {
        margin-top: 33px;
        font-size: 32px;
        line-height: 35px;
    }
}
