.footer{
    display: flex;
    justify-content: space-between;
    margin: 88px auto 24px;
    max-width: 1184px;
}

@media screen and (max-width: 1024px){
    .footer{
        max-width: 928px;
    }
}

@media screen and (max-width: 768px){
    .footer{
        max-width: 720px;
    }
}

@media screen and (max-width: 320px){
    .footer{
        margin: 64px 118px 24px 16px;
        flex-direction: column;
        max-width: 186px;
    }

}