.place__website{
    grid-area: media;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    justify-self: start;
}

@media screen and (max-width: 450px){
    .place__website{
        display: none;
    }
}